@{
    ViewData["Title"] = "Index";
}
<table class="table">
    <thead>
        @*make columns names writing exactly string not Html.helper*@
        <tr>
            <th>Dancebility</th>
            <th>Energy</th>
            <th>Key</th>
            <th>Loudness</th>
            <th>Mode</th>
            <th>Speechiness</th>
            <th>Acousticness</th>
            <th>Instrumentalness</th>
            <th>Liveness</th>
            <th>Valence</th>
            <th>Tempo</th>
            <th>Duration_ms</th>
            <th>Time_signature</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < @ViewBag.TracksAudioFeatures.Count; i++)
        {
            <tr>
                <td>@ViewBag.TracksAudioFeatures[i].Danceability</td>
                <td>@ViewBag.TracksAudioFeatures[i].Energy</td>
                <td>@ViewBag.TracksAudioFeatures[i].Key</td>
                <td>@ViewBag.TracksAudioFeatures[i].Loudness</td>
                <td>@ViewBag.TracksAudioFeatures[i].Mode</td>
                <td>@ViewBag.TracksAudioFeatures[i].Speechiness</td>
                <td>@ViewBag.TracksAudioFeatures[i].Acousticness</td>
                <td>@ViewBag.TracksAudioFeatures[i].Instrumentalness</td>
                <td>@ViewBag.TracksAudioFeatures[i].Liveness</td>
                <td>@ViewBag.TracksAudioFeatures[i].Valence</td>
                <td>@ViewBag.TracksAudioFeatures[i].Tempo</td>
                <td>@ViewBag.TracksAudioFeatures[i].DurationMs</td>
                <td>@ViewBag.TracksAudioFeatures[i].TimeSignature</td>
            </tr>
        }
    </tbody>
</table>



