@{
    ViewData["Title"] = "Get Playlist";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="">
            Get Playlist for @ViewBag.Playlist.Name
        </h3>
        <hr>
        <p class="text-muted">Followers: @ViewBag.Playlist.Followers.total</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <img src="@ViewBag.Playlist.Images[0].Url" class="border border-info img-responsive" style="max-width: 300px;" />
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <div class="row">
        @foreach(var p in @ViewBag.Playlist.Tracks.Items)
        {
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="card mb-3 position-relative" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="@p.Track.Album.Images[0].Url" class="img-fluid rounded-start" alt="@p.Track.Name-image">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body ">
                            <h5 class="card-title">@p.Track.Name</h5>
                            <a class="card-text text-muted position-absolute bottom-0  " href="@p.Track.Album.ExternalUrls.Spotify">
                                @if(@p.Track.Album.AlbumType=="single")
                                {
                                    <span>Single</span> 
                                }else
                                {
                                    <span>see in Album</span>
                                }
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
        
</div>

